@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Prosto-One';
    src: url(../fonts/ProstoOne-Regular.ttf);
    font-weight: 700;
}